.landing-page-desktop {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page-desktop .div {
  background-color: #f6f6f6;
  height: 5483px;
  position: relative;
  width: 440px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .div {
    background-color: #f6f6f6;
    height: 4083px;
    position: relative;
    width: 1440px;
  }
}

.landing-page-desktop .footer {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 30px;
  position: absolute;
  top: 4887px;
  width: 440px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .footer {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 100px;
    position: absolute;
    top: 3887px;
    width: 1240px;
  }
}

.landing-page-desktop .col {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  order: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .col {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    order: 0;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
  }
}

.landing-page-desktop .logo {
  height: 24px;
  position: relative;
  text-align: center;
  width: 72px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .logo {
    height: 32px;
    position: relative;
    width: 96px;
  }
}
.landing-page-desktop .div-2 {
  height: 18px;
  position: relative;
  top: 5px;
  width: 70px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .div-2 {
    height: 24px;
    position: relative;
    top: 6px;
    width: 93px;
  }
}

.landing-page-desktop .dora {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .dora {
    height: 24px;
    width: 87px;
  }
}

.landing-page-desktop .dora-2 {
  background-color: #ffb84c;
  border-radius: 1.5px;
  height: 3px;
  left: 67px;
  position: absolute;
  top: 11px;
  width: 3px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .dora-2 {
    border-radius: 2px;
    height: 4px;
    left: 89px;
    top: 14px;
    width: 4px;
  }
}

.landing-page-desktop .row {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  top: 20px;
  gap: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .row {
    gap: 8px;
  }
}

.landing-page-desktop .img {
  height: 24px;
  width: 24px;
}

.landing-page-desktop .overlap-group {
  background-image: url(https://c.animaapp.com/t9TmsY0g/img/rectangle.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 20px;
}

.landing-page-desktop .ellipse {
  border: 1.5px solid;
  border-color: #2b2730;
  border-radius: 4.75px;
  height: 10px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 10px;
}

.landing-page-desktop .ellipse-2 {
  background-color: #2b2730;
  border-radius: 1px;
  height: 2px;
  left: 14px;
  position: absolute;
  top: 4px;
  width: 2px;
}

.landing-page-desktop .row-2 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .row-2 {
    flex-direction: row;
    gap: 32px;
  }
}

.landing-page-desktop .col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .col-2 {
    gap: 16px;
    width: 180px;
  }
}

.landing-page-desktop .text-wrapper {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper {
    font-size: 18px;
    line-height: 26px;
    margin-top: -1px;
  }
}

.landing-page-desktop .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .frame {
    gap: 8px;
  }
}
.landing-page-desktop .text-wrapper-2 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-2 {
    font-size: 16px;
    line-height: 24px;
  }
}

.landing-page-desktop .text-wrapper-3 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.landing-page-desktop .cta {
  align-items: center;
  background-color: #2b2730;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
  left: 20px;
  padding: 30px 36px;
  position: absolute;
  top: 4501px;
  width: 370px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .cta {
    gap: 24px;
    left: 100px;
    padding: 116px 0px;
    top: 3401px;
    width: 1240px;
  }
}

.landing-page-desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 46px;
  margin-top: -1px;
  position: relative;
  white-space: wrap;
  width: fit-content;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-4 {
    font-size: 56px;
    line-height: 44px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }
}

.landing-page-desktop .p {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: wrap;
  width: fit-content;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .p {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    width: fit-content;
  }
}

.landing-page-desktop .btn-secondary {
  all: unset;
  align-items: flex-start;
  background-color: #ffb84c;
  border-radius: 32px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
}

.landing-page-desktop .text-wrapper-5 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page-desktop .features {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 20px;
  position: absolute;
  top: 2873px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .features {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
    left: 100px;
    position: absolute;
    top: 2793px;
  }
}

.landing-page-desktop .col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-end;
  position: relative;
  width: 440px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
    position: relative;
    width: 604px;
  }
}

.landing-page-desktop .text-wrapper-6 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1.4px;
  line-height: 44px;
  margin-top: -1px;
  position: relative;
  width: 303px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-6 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    position: relative;
    width: 508px;
  }
}

.landing-page-desktop .text-wrapper-7 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 24px;
  position: relative;
  width: 328px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-7 {
    width: 508px;
  }
}

.landing-page-desktop .btn-primary {
  align-items: center;
  background-color: #2b2730;
  border-radius: 32px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
}

.landing-page-desktop .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page-desktop .grid {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .grid {
    gap: 32px;
  }
}

.landing-page-desktop .row-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 0px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .row-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    flex: 0 0 auto;
    gap: 34px;
    position: relative;
  }
}

.landing-page-desktop .col-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 280px;
  position: relative;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .col-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 280px;
    position: relative;
    width: 286px;
  }
}

.landing-page-desktop .group-wrapper {
  height: 128px;
  position: relative;
  width: 128px;
}

.landing-page-desktop .group {
  height: 120px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 120px;
}

.landing-page-desktop .overlap-group-2 {
  border-radius: 62px;
  height: 124px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 124px;
}

.landing-page-desktop .ellipse-3 {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 17px;
  height: 34px;
  left: 45px;
  position: absolute;
  top: 45px;
  width: 34px;
}

.landing-page-desktop .ellipse-4 {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 62px;
  height: 124px;
  left: 0;
  position: absolute;
  top: 0;
  width: 124px;
}

.landing-page-desktop .ellipse-5 {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 37px;
  height: 74px;
  left: 25px;
  position: absolute;
  top: 25px;
  width: 74px;
}

.landing-page-desktop .text-wrapper-9 {
  align-self: stretch;
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
}

.landing-page-desktop .text-wrapper-10 {
  align-self: stretch;
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.landing-page-desktop .col-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 286px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .col-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 286px;
  }
}

.landing-page-desktop .group-2 {
  height: 120px;
  left: 10px;
  position: relative;
  top: 4px;
  width: 108px;
}

.landing-page-desktop .group-3 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 108px;
}

.landing-page-desktop .rectangle {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 8px;
  height: 50px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 50px;
}

.landing-page-desktop .vector {
  height: 30px;
  left: 60px;
  position: absolute;
  top: 8px;
  width: 51px;
}

.landing-page-desktop .group-4 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 108px;
}

.landing-page-desktop .vector-2 {
  height: 30px;
  left: -3px;
  position: absolute;
  top: 8px;
  width: 51px;
}

.landing-page-desktop .rectangle-2 {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 8px;
  height: 50px;
  left: 60px;
  position: absolute;
  top: -2px;
  width: 50px;
}

.landing-page-desktop .overlap-group-3 {
  border-radius: 60px;
  height: 120px;
  position: relative;
}

.landing-page-desktop .ellipse-6 {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 15px;
  height: 30px;
  left: 45px;
  position: absolute;
  top: 45px;
  width: 30px;
}

.landing-page-desktop .ellipse-7 {
  border: 4px solid;
  border-color: #2b2730;
  border-radius: 60px;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

.landing-page-desktop .ellipse-8 {
  height: 70px;
  left: 10px;
  position: absolute;
  top: 25px;
  width: 100px;
}

.landing-page-desktop .overlap {
  height: 2354px;
  left: 0;
  position: absolute;
  top: 105px;
  width: 440px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .overlap {
    height: 2294px;
    left: 0;
    position: absolute;
    top: 183px;
    width: 1440px;
  }
}

.landing-page-desktop .bg {
  background-color: #2b2730;
  height: 2332px;
  left: 0;
  position: absolute;
  top: 352px;
  width: 440px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .bg {
    height: 1572px;
    left: 0;
    position: absolute;
    top: 722px;
    width: 1440px;
  }
}

.landing-page-desktop .team {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  left: 18px;
  position: absolute;
  top: 528px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .team {
    gap: 116px;
    left: 100px;
    top: 1168px;
  }
}

.landing-page-desktop .get-direct-knowledge {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1.6px;
  line-height: 39px;
  margin-top: -1px;
  position: relative;
  width: 333px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .get-direct-knowledge {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1.6px;
    line-height: 72px;
    width: 1233px;
  }
}

.landing-page-desktop .span {
  color: #ffb84c;
}

.landing-page-desktop .text-wrapper-11 {
  color: #ffffff;
}

.landing-page-desktop .row-4 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 22px;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .row-4 {
    flex-direction: row;
    gap: 32px;
  }
}

.landing-page-desktop .img-card {
  background-image: url(https://c.animaapp.com/t9TmsY0g/img/img-card-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 522px;
  overflow: hidden;
  position: relative;
  width: 362px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .img-card {
    height: 522px;
    width: 392px;
  }
}

.landing-page-desktop .label {
  -webkit-backdrop-filter: blur(8px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(8px) brightness(100%);
  background-color: #ffffff29;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 10px;
  padding: 4px 8px;
  position: relative;
  top: 458px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .label {
    -webkit-backdrop-filter: blur(8px) brightness(100%);
    align-items: center;
    backdrop-filter: blur(8px) brightness(100%);
    background-color: #ffffff29;
    border-radius: 8px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 24px;
    padding: 4px 8px;
    position: relative;
    top: 458px;
  }
}

.landing-page-desktop .text-wrapper-12 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page-desktop .label-wrapper {
  background-image: url(https://c.animaapp.com/t9TmsY0g/img/img-card-1.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 522px;
  overflow: hidden;
  position: relative;
  width: 362px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .label-wrapper {
    width: 392px;
  }
}

.landing-page-desktop .div-wrapper {
  background-image: url(https://c.animaapp.com/t9TmsY0g/img/img-card.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 522px;
  overflow: hidden;
  position: relative;
  width: 362px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .div-wrapper {
    width: 392px;
  }
}

.landing-page-desktop .row-5 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 440px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .row-5 {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    width: 1240px;
  }
}

.landing-page-desktop .row-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;
  width: 333px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .row-6 {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
    width: 703px;
  }
}

.landing-page-desktop .col-6 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .col-6 {
    gap: 8px;
  }
}

.landing-page-desktop .text-wrapper-13 {
  color: #ffb84c;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-13 {
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    margin-top: -2px;
  }
}

.landing-page-desktop .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-14 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
  }
}

.landing-page-desktop .row-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0px;
  position: relative;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .row-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
}

.landing-page-desktop .text-wrapper-15 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  width: 242px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-15 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    width: 215px;
  }
}

.landing-page-desktop .arrow-icon {
  height: 40px;
  position: relative;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .arrow-icon {
    height: 64px;
    position: relative;
    width: 64px;
  }
}

.landing-page-desktop .banner {
  height: 1050px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 1220px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .banner {
    height: 1050px;
    left: 100px;
    position: absolute;
    top: 0;
    width: 1220px;
  }
}

.landing-page-desktop .img-2 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 258px;
  width: 336px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .img-2 {
    height: 708px;
    left: 0;
    position: absolute;
    top: 358px;
    width: 1236px;
  }
}
.landing-page-desktop .row-8 {
  height: 226px;
  position: relative;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .row-8 {
    height: 258px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1205px;
  }
}

.landing-page-desktop .home-elem {
  height: 102px;
  left: 226px;
  position: absolute;
  top: 124px;
  width: 102px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .home-elem {
    height: 204px;
    left: 999px;
    top: 0;
    width: 204px;
  }
}
.landing-page-desktop .overlap-group-wrapper {
  height: 102px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .overlap-group-wrapper {
    height: 204px;
  }
}
.landing-page-desktop .overlap-group-4 {
  border-radius: 51px;
  height: 102px;
  position: relative;
  width: 102px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .overlap-group-4 {
    border-radius: 102px;
    height: 204px;
    width: 204px;
  }
}
.landing-page-desktop .frame-2 {
  background-color: #2b2730;
  border-radius: 82px;
  height: 82px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 82px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .frame-2 {
    border-radius: 164px;
    height: 164px;
    left: 20px;
    top: 20px;
    width: 164px;
  }
}
.landing-page-desktop .group-5 {
  height: 44px;
  left: 14px;
  position: relative;
  top: 15px;
  width: 55px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .group-5 {
    height: 89px;
    left: 28px;
    top: 38px;
    width: 113px;
  }
}
.landing-page-desktop .text-wrapper-16 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 19.7px;
  font-weight: 700;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-16 {
    font-size: 39.4px;
    left: 34px;
  }
}
.landing-page-desktop .text-wrapper-17 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 9.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .text-wrapper-17 {
    font-size: 19.7px;
    top: 59px;
  }
}
.landing-page-desktop .ellipse-9 {
  border: 1px solid;
  border-color: #2b2730;
  border-radius: 51px;
  height: 102px;
  left: 0;
  position: absolute;
  top: 0;
  width: 102px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .ellipse-9 {
    border: 2px solid;
    border-radius: 102px;
    height: 204px;
    width: 204px;
  }
}

.landing-page-desktop .learn-from-your {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  margin-top: 0px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0px;
  width: 328px;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .learn-from-your {
    font-family: "Poppins", Helvetica;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    top: 18px;
    width: 922px;
  }
}

.landing-page-desktop .text-wrapper-18 {
  color: #2b2730;
}
.landing-page-desktop .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 16px;
  position: absolute;
  top: 24px;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .navbar {
    left: 100px;
    top: 32px;
    width: 1240px;
  }
}

.landing-page-desktop .menu-left {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.landing-page-desktop .dora-3 {
  height: 18px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .landing-page-desktop .dora-3 {
    height: 24px;
    position: relative;
  }
}

.landing-page-desktop .menu-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .menu-links {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
  }
}

.landing-page-desktop .text-wrapper-19 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page-desktop .text-wrapper-20 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.landing-page-desktop .menu-right {
  display: none;
}

@media screen and (min-width: 768px) {
  .landing-page-desktop .menu-right {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
}

.landing-page-desktop .text-wrapper-21 {
  color: #2b2730;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.landing-page-desktop .btn-primary-2 {
  align-items: center;
  background-color: #2b2730;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
}

.landing-page-desktop .text-wrapper-22 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page-mobile .group-5 {
  height: 16px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 16px;
}

.landing-page-mobile .group-6 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.landing-page-mobile .ellipse-10 {
  background-color: #2b2730;
  border-radius: 1px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.landing-page-mobile .ellipse-11 {
  background-color: #2b2730;
  border-radius: 1px;
  height: 2px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 2px;
}

.landing-page-mobile .ellipse-12 {
  background-color: #2b2730;
  border-radius: 1px;
  height: 2px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 2px;
}

.landing-page-mobile .group-7 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 16px;
}

.landing-page-mobile .group-8 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 16px;
}
